openapi: 3.1.1
info:
  title: Neuroforge B.R.I.D.G.E API
  version: 1.3.1
  description: >
    Neuroforge B.R.I.D.G.E allows GPT-based agents to upload, list, and retrieve base64-encoded files.

servers:
  - url: https://theneurofoundry.com

paths:
  /bridge/health:
    get:
      operationId: bridgeHealth
      summary: Health check
      security: []
      responses:
        "200":
          description: Service is reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  service:
                    type: string
                  config_dir:
                    type: string

  /bridge/upload:
    post:
      operationId: bridgeUpload
      summary: Upload or store a file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BridgeUploadRequest"
      responses:
        "200":
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeUploadResponse"

  /bridge/list:
    get:
      operationId: bridgeList
      summary: List files
      parameters:
        - name: key
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of files
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeListResponse"

  /bridge/read:
    get:
      operationId: bridgeRead
      summary: Retrieve a file
      parameters:
        - name: filename
          in: query
          required: true
          schema:
            type: string
        - name: key
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: File stream
        "404":
          description: File not found

  /bridge/routing:
    get:
      operationId: bridgeRouting
      summary: Get routing configuration
      responses:
        "200":
          description: Routing info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeRoutingResponse"

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key

  schemas:
    BridgeUploadRequest:
      type: object
      required: [filename]
      properties:
        filename:
          type: string
        base64_data:
          type: string
        tags:
          type: array
          items:
            type: string
        content_type:
          type: string
          default: application/octet-stream

    BridgeUploadResponse:
      type: object
      properties:
        status:
          type: string
          enum: ["ok", "error"]
        message:
          type: string
        path:
          type: string
        size_bytes:
          type: integer
        tags:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time

    BridgeListResponse:
      type: object
      properties:
        status:
          type: string
        folder:
          type: string
        count:
          type: integer
        files:
          type: array
          items:
            type: string

    BridgeRoutingResponse:
      type: object
      properties:
        folders:
          type: object
          additionalProperties:
            type: string
        acronyms:
          type: object
          additionalProperties:
            type: string
        ext_map:
          type: object
          additionalProperties:
            type: string
        mime_map:
          type: object
          additionalProperties:
            type: string

security:
  - api_key: []
